<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="shortcut icon" type="image/png" href="imgs/favicon.png"/>
	<title>P&D Sis</title>

	<link rel="stylesheet" href="lib/angular/angular-csp.css">
	
	<link rel="stylesheet" href="lib/materialize/bin/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link rel="stylesheet" href="style/css/app.css">
	
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-route/angular-route.js"></script>
	<script src="lib/angular-touch/angular-touch.js"></script>

	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/materialize/bin/materialize.js"></script>

	<script src="js/app.js"></script>
	<script src="js/configs/routeConfig.js"></script>
	
	<script src="js/controllers/generalController.js"></script>
	<script src="js/controllers/rda/instituteController.js"></script>
	<script src="js/controllers/rda/agreementController.js"></script>

</head>
<body>
	
	<div class="general" ng-controller="generalController">
		
		<nav>
			<div class="container">
				<button class="btn-menu btn-floating waves-effect" ng-click="toggleMenu()">
					<i class="material-icons">menu</i>
				</button>
				<img class="logo" src="imgs/logo-header.png">
				<a href="#/" class="btn-sis-more btn-floating waves-effect dropdown-button" data-activates="sisMoreDropDown">
					<i class="material-icons">more_vert</i>
				</a>
				<ul id="sisMoreDropDown" class="dropdown-content">
					<li>
						<a href="#/"><i class="material-icons">notifications</i> Notificações</a>
					</li>
					<li>
						<a href="#/"><i class="material-icons">swap_horiz</i> Trocar de projeto</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#/"><i class="material-icons">exit_to_app</i> Sair</a>
					</li>
				</ul>
			</div>
		</nav>
		

		<aside class="side-nav" ng-class="{'show': showMenu}" >
			<div class="header">
				<img class="user-pic" src="imgs/user.jpg">
				<div class="user-name">Simone Fernandes</div>
				<a href="#/" class="btn-user-more btn-floating waves-effect right">
					<i class="material-icons">person</i>
				</a>
			</div>
			<ul>

				<li>
					<a href="#/">
						<i class="material-icons">dashboard</i> DASHBOARD
					</a>
				</li>

				<li class="title">
					<i class="material-icons">turned_in_not</i> RDA
				</li>
				<li>
					<a href="#/">Dados do instituto</a>
				</li>
				<li>
					<a href="#/rda/agreement">Convênio</a>
				</li>
				<li>
					<a href="#/">Termos aditivos e adendos</a>
				</li>

				<li class="title">
					<i class="material-icons">attach_money</i> PRESTAÇÃO DE CONTAS
				</li>
				<li>
					<a href="#/">Dados do instituto</a>
				</li>
				<li>
					<a href="#/">Convênio</a>
				</li>
				<li>
					<a href="#/">Termos aditivos e adendos</a>
				</li>

				<li class="title">
					<i class="material-icons">content_copy</i> RELATÓRIOS
				</li>
				<li>
					<a href="#/">Dados do instituto</a>
				</li>
				<li>
					<a href="#/">Convênio</a>
				</li>
				<li>
					<a href="#/">Termos aditivos e adendos</a>
				</li>

			</ul>
		</aside>
		
		<main ng-view></main>
		
		<footer>
			<div class="container">
				<span>© 2015 LCA Consulting</span>
				<img class="logo" src="imgs/logo-footer.png">
			</div>
		</footer>
	
		<div class="overlay" ng-class="{'show': showMenu}" ng-click="toggleMenu()"></div>
	
	</div>
     
</body>
</html>